@import '../../../../bemit/settings/_colors.scss';

.SwitchTable {
  $block: &;

  box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.3);
  max-width: calc(100vw - 63px);
  min-width: calc(100vw - 63px);
  overflow: auto;

  &__body, &__header {
    display: flex;
  }

  &__body {
    flex-direction: column;

    #{$block}__cell {
      &:not(:first-child) {
        border-top: 1px solid $color-ternary;
        border-right: 1px solid $color-ternary;
      }
    }

    #{$block}__rows {
      display: flex;
    }
  }

  &__header {
    #{$block}__cell {
      &:not(&--info) {
        background-color: $color-ternary;
        border-left: 1px solid $color-ternary-light;

        span {
          color: white;
          font-weight: 600;
          letter-spacing: 0.05rem;
        }
      }

      &--info {;
        background: linear-gradient(
                        to top right,
                        rgba(0, 0, 0, 0) 0%,
                        rgba(0, 0, 0, 0) calc(50% - .8px),
                        $color-ternary-light 50%,
                        rgba(0, 0, 0, 0) calc(50% + .8px),
                        rgba(0, 0, 0, 0) 100%);

        position: relative;
        height: 55px;

        &__horizontal, &__vertical {
          position: absolute;
        }

        $hv_margin: 8px;

        &__horizontal {
          top: $hv_margin;
          right: $hv_margin;
        }

        &__vertical {
          bottom: $hv_margin;
          left: $hv_margin;
        }
      }
    }
  }

  &__body, &__header {
    #{$block}__cell {
      align-items: center;
      display: flex;
      max-width: 210px;
      min-width: 210px;
      padding: 13px 21px;

      &:first-child {
        background-color: $color-ternary;
        border-top: 1px solid $color-ternary-light;

        span {
          color: white;
          font-weight: 600;
          letter-spacing: 0.05rem;
        }
      }

      &:not(:first-child) {
        justify-content: center;
      }
    }
  }
}
