$cadet-blue: #58979D;
$ming: #427176;
$dark-midnight-blue: #043C5D;
$blue-sky: #58CFEE;
$teal-deer: #93E5AB;
$green-sheen: #65B891;
$cultured: #F5F5F5;
$medium-orchid: #C758EE;
$charleston: #292929;
$sunray: #EEB558;
$marigold: #E99C20;
$red: #D62222;
