$color-primary: #58979D;
$color-secondary: #427176;
$color-ternary: #65B891;
$color-ternary-light: #93E5AB;
$color-ternary-extra-light: #C9F5D2;

$color-background-primary: #E9EEF2;
$color-background-secondary: #F5F5F5;
$color-background-dark: #292929;

$color-text: #043C5D;
$color-text-light: #58CFEE;
$color-text-extra-light: #B2C3C9;

$orchid: #C758EE;
$sunray: #EEB558;
$marigold: #E99C20;
$red: #D62222;
