@import 'src/bemit/settings/_colors.scss';

.Switch {
  $block: &;

  display: inline-block;
  position: relative;
  width: 45px;

  &__field {
    height: 0;
    opacity: 0;
    width: 0;
  }

  &__field {
    &:checked {
      & + {
        #{$block}__slider {
          background-color: $color-ternary;

          &:before {
            transform: translateX(22px);
          }
        }

        #{$block}__round {
          border: 2px solid darken($color-ternary, 10%);
        }
      }
    }

    &:focus {
      & + {
        #{$block}__slider {
          box-shadow: darken($color-ternary, 50%);
        }
      }
    }
  }

  &__slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;

    &:before {
      background-color: white;
      bottom: 1px;
      content: '';
      height: 15px;
      left: 3px;
      position: absolute;
      transition: .4s;
      width: 15px;
    }

    &#{$block}__round {
      border: 2px solid $color-text-extra-light;
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}
