@import 'src/bemit/settings/_colors.scss';

.Header {
  position: relative;
  z-index: 1000;
  
  &__container {
    align-items: center;
    background-color: $color-primary;
    display: flex;
    padding: 13px 89px;

    &--sticky {
      position: fixed;
      top: 0;
    }
  }
}
