@import 'src/bemit/settings/_colors.scss';

.Header {
  position: relative;
  z-index: 100;
  
  &__container {
    align-items: center;
    background-color: $color-primary;
    display: flex;
    padding: 13px 34px;
    width: calc(100vw - 68px);

    &--sticky {
      position: fixed;
      top: 0;
    }
  }
}
