@import 'src/bemit/settings/_colors.scss';

.switch {
  position: relative;
  display: inline-block;
  width: 45px;

  .field {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
  }
}

.field {
  &:checked {
    + {
      .slider {
        background-color: $orchid;

        &:before {
          transform: translateX(22px);
        }
      }
      .round {
        border: 2px solid darken($orchid, 10%);
      }
    }
  }

  &:focus {
    + {
      .slider {
        box-shadow: darken($orchid, 50%);
      }
    }
  }
}

.slider.round {
  border-radius: 34px;
  border: 2px solid darken(#ccc, 10%);

  &:before {
    border-radius: 50%;
  }
}
