@import 'src/bemit/settings/colors';

.Connected {
  &__afterSwiper {
    padding: 0 233px;

    &__calendar {
      &__event {
        background-color: $sunray;
      }
    }

    &__container {
      display: flex;
      margin-bottom: 55px;
      padding: 0 55px;
      position: relative;

      &__add {
        cursor: pointer;
        font-size: 1.5rem;
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    &__item {
      &, &s {
        display: flex;
        flex-direction: column;
      }

      &s {
        gap: 21px;
        padding: 5px 34px;
      }

      &__date {
        font-size: .9rem;
        font-weight: 600;
      }

      &__name {
        font-size: 1.4rem;
        font-weight: 600;
        margin-bottom: 3px;
      }

      &__name, &__date {
        display: block;
      }

      &__tag {
        background-color: $marigold;
        border-radius: 10px;
        color: white;
        font-size: .9rem;
        font-weight: 600;
        padding: 3px 8px;
        text-transform: uppercase;

        &s {
          display: flex;
          gap: 8px;
          margin-bottom: 5px;
        }
      }
    }

    &__title {
      display: block;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1.5;
      margin-bottom: 34px;
    }
  }

  &__afterEvent {
    margin: 0 auto;
    width: fit-content;

    &__cta {
      border: 3px solid $color-secondary;
      border-radius: 21px;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 144px;
      padding: 8px 21px;

      &:hover {
        background-color: $color-secondary;
        color: white;
      }
    }
  }

  &__lastChild {
    margin-bottom: 100px;
  }
}
