@import 'src/bemit/settings/colors';

.Input {
  gap: 3px;

  &, &__label {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-weight: 600;
    gap: 5px;
  }

  &__error {
    color: $red;
    font-weight: 600;
  }
}
